
h1,h2,h3,h4,p,li {
    font-family: 微軟正黑體, sans-serif;
    color: #444444;
}
    
h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 42px;
}
    
h3 {
    font-size: 32px;
}

h4 {
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
}

h1,h2,h3 {
    color: #1098ad;
}
    
p {
    font-size: 22px;
    line-height: 1.5;
}

li {
    font-size: 20px;
}
    
#copyright {
    font-size: 16px;
}

#author {
    font-size: 18px;
    font-style: italic;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}
    
.related {
    list-style: none;
}

.main-header {
    background-color: #f7f7f7;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
}

